<!DOCTYPE html>
<html {{ fn('language_attributes') }}>
<head>
  <meta charset="{{ fn('bloginfo', 'charset') }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ fn('wp_head') }}
  {% block custom_head %}
  {% endblock %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KHJ7BR');</script>
  <!-- End Google Tag Manager -->
</head>
<body {{ fn('body_class', language_class) }}>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHJ7BR" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="wrapper">
    {% block header %}
      {% include "partials/header.twig" %}
    {% endblock %}
    {% block slider %}
    {% endblock %}
    <div class="main">
      {% block page_header %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
    {% block footer %}
      {% if language_code == 'he' %}
        {% include "partials/footer.twig" %}
      {% else %}
        {% include "partials/footer-en.twig" %}
      {% endif %}
    {% endblock %}
  </div>
  {% if language_code == 'he' %}
    {% include "partials/contact.twig" %}
  {% else %}
    {% include "partials/contact-en.twig" %}
  {% endif %}
  {% include "partials/search-panel.twig" %}
  <a href="#" class="back-to-top"></a>
  {{ fn('wp_footer') }}
  {% block custom_foot %}
  {% endblock %}
</body>
</html>
