{% extends "layouts/base.twig" %}

{% block page_header %}
  <div class="page-header">
    {% if page.thumbnail %}
      <img src="{{page.thumbnail.src}}" alt="{{title}}" title="{{title}}">
    {% else %}
      <img class="page-header__image" src="{{ fn('get_template_directory_uri') }}/assets/images/bg-articles.jpg">
    {% endif %}
    <div class="page-title-wrap">
      <div class="container">
        <h1 class="page-title">{{title}}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container">
      <div class="content__inner">
        <h2 class="content__title">{% if subtitle %}{{subtitle}}{% else %}{{title}}{% endif %}</h2>
        <div class="row">
          <div class="col col-big">
            {% for post in posts %}
              <article class="article">
                <a class="article__link" href="{{post.link}}">
                  <h2>{{post.title}}</h2>
                  <p>{{post.get_preview(50, true, '', true)}}</p>
                </a>
              </article>
            {% endfor %}
          </div>
          <div class="col col-small">
            <div class="sidebar-articles">
              {% if language_code == 'he' %}
                {{sidebar_articles}}
              {% else %}
                {{sidebar_articles_en}}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          {{ breadcrumbs }}
        </div>
        <div class="row">
          {% include "partials/pagination.twig" %}
        </div>
        <div class="row">
          {% include "partials/share.twig" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
